!.mvn/wrapper/maven-wrapper.jar
### Git Ignore ###
*.iws
*.iml
*.ipr
*.class
*.bak
*.DS_Store
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.classpath
.project
.settings
.springBeans
.idea
allure-results/
target/
nbproject/private/
build/
nbbuild/
logs
transaction-logs/
generated-docs/
pom.xml.releaseBackup